In [2]:
# sample and copy method

import pandas as pd
from datasets import load_dataset
import matplotlib.pyplot as plt

dataset = load_dataset('lukebarousse/data_jobs')
df = dataset['train'].to_pandas()
df['job_posted_date'] = pd.to_datetime(df['job_posted_date'])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 785741 entries, 0 to 785740
Data columns (total 17 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   job_title_short        785741 non-null  object
 1   job_title              785740 non-null  object
 2   job_location           784696 non-null  object
 3   job_via                785733 non-null  object
 4   job_schedule_type      773074 non-null  object
 5   job_work_from_home     785741 non-null  bool
 6   search_location        785741 non-null  object
 7   job_posted_date        785741 non-null  datetime64[ns]
 8   job_no_degree_mention  785741 non-null  bool
 9   job_health_insurance   785741 non-null  bool
 10  job_country            785692 non-null  object
 11  salary_rate            33067 non-null   object
 12  salary_year_avg        22003 non-null   float64
 13  salary_hour_avg        10662 non-null   float64
 14  company_name           785723 non-null  object
 15  job_skills             668704 non-null  object
 16  job_type_skills        668704 non-null  object
dtypes: bool(3), datetime64[ns](1), float64(2), object(11)
memory usage: 86.2+ MB

In [14]:
df.sample(3)

,job_title_short,job_title,job_location,job_via,job_schedule_type,job_work_from_home,search_location,job_posted_date,job_no_degree_mention,job_health_insurance,job_country,salary_rate,salary_year_avg,salary_hour_avg,company_name,job_skills,job_type_skills
427443,Data Engineer,Data Engineer (FT; Multiple Openings),"Dallas, TX",via KTAL News Jobs,Full-time,False,"California, United States",2023-06-03 16:05:32,False,False,United States,None,NaN,NaN,"RingCentral, Inc.","['mongodb', 'mongodb', 'python', 'sql', 'java'...","{'cloud': ['redshift', 'oracle'], 'databases':..."
300182,Data Engineer,Data Engineer,Anywhere,via LinkedIn,Full-time,True,Sudan,2023-09-26 17:18:47,False,False,Sudan,None,NaN,NaN,Blueriver,"['javascript', 'c#', 'rust', 'c++', 'html', 'c...","{'libraries': ['react'], 'os': ['linux', 'wind..."
775146,Data Analyst,data analyst/ spotfire,"Issy-les-Moulineaux, France",via BeBee,Full-time,False,France,2023-07-23 01:23:05,True,False,France,None,NaN,NaN,GROUPE ARTEMYS - AMONTECH - ARCARTEM,"['vue', 'jira']","{'async': ['jira'], 'webframeworks': ['vue']}"

In [11]:
df_assignment_opp = df
id(df_assignment_opp) == id(df)

True

In [13]:
df_copy  = df.copy()
id(df_copy) == id(df)

False