In [1]:
# 5_monthly_job_posting_for_India

import pandas as pd
from datasets import load_dataset
import matplotlib.pyplot as plt

dataset = load_dataset('lukebarousse/data_jobs')
df = dataset['train'].to_pandas()
df['job_posted_date'] = pd.to_datetime(df['job_posted_date'])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 785741 entries, 0 to 785740
Data columns (total 17 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   job_title_short        785741 non-null  object
 1   job_title              785740 non-null  object
 2   job_location           784696 non-null  object
 3   job_via                785733 non-null  object
 4   job_schedule_type      773074 non-null  object
 5   job_work_from_home     785741 non-null  bool
 6   search_location        785741 non-null  object
 7   job_posted_date        785741 non-null  datetime64[ns]
 8   job_no_degree_mention  785741 non-null  bool
 9   job_health_insurance   785741 non-null  bool
 10  job_country            785692 non-null  object
 11  salary_rate            33067 non-null   object
 12  salary_year_avg        22003 non-null   float64
 13  salary_hour_avg        10662 non-null   float64
 14  company_name           785723 non-null  object
 15  job_skills             668704 non-null  object
 16  job_type_skills        668704 non-null  object
dtypes: bool(3), datetime64[ns](1), float64(2), object(11)
memory usage: 86.2+ MB

In [2]:
df['job_posted_month'] = df['job_posted_date'].dt.strftime('%b')
# df = df.sort_values(by='job_posted_month')
months = df['job_posted_month'].unique()

dict_months = {month : df[(df['job_posted_month'] == month )] for month in months}

In [3]:
df_Quater_1 = pd.concat([dict_months['Jan'],dict_months['Feb'],dict_months['Mar']])

In [4]:
# df_Quater_1.head(10).to_clipboard(sep=None)

In [5]:
# df_Quater_1.to_csv('example.csv')

In [6]:
# pd.read_csv('example.csv',index_col=0).head(10)

In [11]:
import pandas as pd
from sqlalchemy import create_engine

# df_Quater_1

user  ='root'
password  ='root'
host  ='localhost'
database  ='data_jobs_db'
# # MySQL connection (replace with your password)
# user = "root"
# password = "root"  # the same one from your MySQL Workbench prompt
# host = "localhost"
# database = "data_jobs_db"

engine = create_engine(f'mysql+pymysql://{user}:{password}@{host}/{database}')
df_Quater_1.to_sql('data_jobs_Quater_1', con=engine,if_exists="replace",index=True)
# # Create connection using SQLAlchemy
# engine = create_engine(f"mysql+pymysql://{user}:{password}@{host}/{database}")
# # Write DataFrame to SQL table
# df.to_sql("data_jobs_table", con=engine, if_exists="replace", index=True)

# print("DataFrame successfully written to MySQL!")

InvalidRequestError: Could not reflect: requested table(s) not available in Engine(mysql+pymysql://root:***@localhost/data_jobs_db): (data_jobs_Quater_1)

In [15]:
import pandas as pd
import sqlite3

# Example DataFrame
df = pd.DataFrame({
    'name': ['Alice', 'Bob', 'Charlie'],
    'age': [25, 30, 35]
})

# Connect to SQLite database (creates file if it doesn't exist)
conn = sqlite3.connect('jobs.db')

# Export DataFrame to SQL
df.to_sql(
    name='people',       # table name
    con=conn,            # connection object
    if_exists='replace', # replace table if it exists (or use 'append')
    index=False          # don't write DataFrame index
)

# Close connection
conn.close()