In [22]:
import pandas as pd
df1 = pd.read_csv('C:/Users/Ankit/Desktop/popular_movies.csv')
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9999 entries, 0 to 9998
Data columns (total 15 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   title                 9999 non-null   object
 1   budget                9999 non-null   int64
 2   genres                9999 non-null   object
 3   original_language     9999 non-null   object
 4   overview              9906 non-null   object
 5   popularity            9999 non-null   float64
 6   poster_path           9941 non-null   object
 7   release_date          9978 non-null   object
 8   revenue               9999 non-null   int64
 9   runtime               9999 non-null   int64
 10  spoken_languages      9999 non-null   object
 11  vote_average          9999 non-null   float64
 12  vote_count            9999 non-null   int64
 13  production_companies  9999 non-null   object
 14  production_countries  9999 non-null   object
dtypes: float64(2), int64(4), object(9)
memory usage: 1.1+ MB

In [23]:
df1['overview']

0       Plagued by a violent recurring nightmare, coll...
1       The wildly funny and touching story of a lonel...
2       What will be her last straw? A devastatingly b...
3       After his life is turned upside down when his ...
4       On the rugged isle of Berk, where Vikings and ...
                              ...
9994    In the wilderness of British Columbia, two hun...
9995    Victoria, an intrepid Latina in a cartel world...
9996    It's been suggested that Americans would be be...
9997    Morioh, 1999â€”a normally quiet and peaceful tow...
9998    On the eve of her 17th birthday, Mari and frie...
Name: overview, Length: 9999, dtype: object

In [6]:
from datasets import load_dataset

In [10]:
dataset =  load_dataset('lukebarousse/data_jobs')

In [33]:
# print(dataset['train'])
print(type(dataset['train']))

<class 'datasets.arrow_dataset.Dataset'>

In [39]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9999 entries, 0 to 9998
Data columns (total 15 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   title                 9999 non-null   object
 1   budget                9999 non-null   int64
 2   genres                9999 non-null   object
 3   original_language     9999 non-null   object
 4   overview              9906 non-null   object
 5   popularity            9999 non-null   float64
 6   poster_path           9941 non-null   object
 7   release_date          9978 non-null   object
 8   revenue               9999 non-null   int64
 9   runtime               9999 non-null   int64
 10  spoken_languages      9999 non-null   object
 11  vote_average          9999 non-null   float64
 12  vote_count            9999 non-null   int64
 13  production_companies  9999 non-null   object
 14  production_countries  9999 non-null   object
dtypes: float64(2), int64(4), object(9)
memory usage: 1.1+ MB