In [1]:
'hello'

'hello'

In [2]:
jobTitle = 'data analyst'
job_desc = 'Reporting and analysing'
job_salary = 300000
print(f'job name : {jobTitle} \njob desc : {job_desc}\njob Salary : ${job_salary}')

job name : data analyst
job desc : Reporting and analysing
job Salary : $300000

In [3]:
def jobDetials(title,desc,salary):
    print(f'job name : {jobTitle} \njob desc : {job_desc}\njob Salary : ${job_salary}')

In [4]:
jobDetials(jobTitle,job_desc, job_salary)

job name : data analyst
job desc : Reporting and analysing
job Salary : $300000

In [5]:
type(jobTitle)

str

In [6]:
id(jobTitle) ,  id(job_salary)

(2169863409904, 2169863237648)

In [7]:
class JobPost:
    def __init__(self,title,desc,salary):
        self.title=title
        self.desc=desc
        self.salary = salary
    def jobDetials(self):
        print(f'job name : {self.title} \njob desc : {self.desc}\njob Salary : ${self.salary}')

In [8]:
dataAnalystJob = JobPost(jobTitle,job_desc, job_salary)
dataAnalystJob.title
dataAnalystJob.jobDetials()

job name : data analyst
job desc : Reporting and analysing
job Salary : $300000

In [9]:
print("hello world".upper())
str.upper("hEllo world")

HELLO WORLD

'HELLO WORLD'

In [10]:
"data nerds".title()

'Data Nerds'

In [11]:
import statistics 
statistics.mean((0,1))

0.5

In [12]:
data_science_jobs = [
    {'job_title': 'Data Scientist', 'job_skills': "['Python', 'SQL', 'Machine Learning']", 'job_date': '2023-05-12'},
    {'job_title': 'Machine Learning Engineer', 'job_skills':" ['Python', 'TensorFlow', 'Deep Learning']", 'job_date': '2023-05-15'},
    {'job_title': 'Data Analyst', 'job_skills': "['SQL', 'R', 'Tableau']", 'job_date': '2023-05-10'},
    {'job_title': 'Business Intelligence Developer', 'job_skills': "['SQL', 'PowerBI', 'Data Warehousing']", 'job_date': '2023-05-14'},
    {'job_title': 'Data Engineer', 'job_skills': "['Python', 'Spark', 'Hadoop']", 'job_date': '2023-05-18'},
    {'job_title': 'AI Specialist', 'job_skills': "['Python', 'PyTorch', 'AI Ethics']", 'job_date': '2023-05-20'}
]

from datetime import datetime
test_date = data_science_jobs[0]['job_date']
print(test_date)
datetime.strptime(test_date,'%Y-%m-%d')

    
for job in data_science_jobs :
    job['job_date'] = datetime.strptime(job['job_date'],'%Y-%m-%d')
    # print(job['job_date'],'\n')

for job in data_science_jobs :
    print(job['job_date'],'\n')
type(data_science_jobs[0]['job_skills'])

2023-05-12
2023-05-12 00:00:00

2023-05-15 00:00:00

2023-05-10 00:00:00

2023-05-14 00:00:00

2023-05-18 00:00:00

2023-05-20 00:00:00

str

In [13]:
import ast 
for job in data_science_jobs:
    job['job_skills'] =  ast.literal_eval(job['job_skills'])

In [14]:
type(data_science_jobs[0]['job_skills'])

list

In [15]:
import pandas as pd
contents =  pd.read_csv('C:/Users/Ankit/Desktop/imdb_tvshows.csv')
sum(contents['Unnamed: 0'])

listOf =!pip list
'pandas                    2.2.3' in listOf

True

In [16]:
value = 1000
f'{1000000:,.0f}'

'1,000,000'

In [29]:
%%timeit
import random
salary_list = [ random.randint(50000,100000) for i in range(100_000) ]
len(salary_list)

41.3 ms ± 1.86 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [34]:
%%timeit
import statistics 
statistics.mean(salary_list)

17.7 ms ± 193 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [39]:
import numpy as np

In [41]:
%%timeit
np.mean(salary_list)

3.05 ms ± 77 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [93]:
total_salaries = base_salary * (1+ bonus_rate)
total_salaries
np.nanmean(total_salaries)

81533.69333333334

In [87]:
import numpy as np
job_title =  np.array(['Data Analyst','Data Engineer','Business Intelligence Developer','AI Specialist'])
base_salary = np.array([67062, 80080, 65504,np.nan])
bonus_rate = np.array([0.14, 0.2 , 0.1 ,np.nan ])
bonus_rate , base_salary

(array([0.14, 0.2 , 0.1 ,  nan]), array([67062., 80080., 65504.,    nan]))

In [92]:
np.nanmean(total_salaries)

81533.69333333334